.content {
  color: #707070;
  font-family: Roboto;
  /* text-align: center; */
  /* padding-left: 40px; */
  width: 70vw;
  margin: auto;
  margin-top: 10%;
}

/* styling for headers */
.hl-1 {
  margin-top: 5%;
  font-size: 1.9rem;
  font-weight: 300;
  text-align: center;
}
.hl-2 {
  margin-top: 5%;
  /* margin-bottom: 3%; */
  font-size: 1.3rem;
  font-weight: 300;
  text-align: left;
  color: #23273a;
}

/* styling for copy */
.copy {
  font-size: 1.2rem;
  padding: 10px 0;
  margin-top: 13px;
  font-weight: 100;
}

/* colors */
.accent {
  color: #f51aa4;
}
.blue-accent {
  color: #1aedff;
}
.lavender {
  color: #aa8fd8;
}
