.container {
  text-align: center;
  width: 100%;
}
.header {
  font-family: Roboto;
  font-weight: 400;
  font-size: 2rem;
  color: #aa8fd8;
  margin-top: 5%;
}

.header::after {
  display: block;
  content: "";
  border: 2px solid #efaeea;
  width: 200px;
  margin: auto;
  margin-top: 30px;
}

.accent {
  color: #f51aa4;
}

.accent-blue {
  color: #55efc4;
}
