/* navbar main styling  */
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  min-height: 30vh;
  padding-top: 10%;
  /* background-color: #efaeea; */
  background-color: #23273a;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1em;
}

.nav::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 10px;
  background-image: linear-gradient(
    to right,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}
/* styling for logo section of navbar  */
.logo {
  text-decoration: none;
  /* color: #707070; */
  color: #aa8fd8;
  font-size: 2rem;
  font-family: Roboto;
}
.logo .k-accent {
  color: #f51aa4;
}
/* styling for ul of links  in navbar  */
.nav-list {
  padding: 20px;
  display: flex;
}

.nav-list > li {
  list-style: none;
  padding: 20px;
}

.link {
  /* color: #707070; */
  color: #fff;
  text-decoration: none;
  padding-bottom: 10px;
}
.link:hover {
  color: #f51aa4;
}

.active {
  border-bottom: 3px solid #1aedff;
}
